.w3-black, .w3-hover-black:hover {

	background: #EF6988; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#EF6988, #B22033); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EF6988, #B22033); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EF6988, #B22033); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EF6988, #B22033); /* Standard syntax (must be last) */

	background-color: #D9CFC1!important;
	color:#f1f1f1!important;
}

.w3-sidebar-color {background: #f1e9db; color:#5C5D67;}

.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
	background-color: #5C5D67 !important;
}
   
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #f1f1f1!important;
    background-color: #5C5D67!important;
}
.w3-button:hover {
    color: #ffffff!important;
    background-color: #5C5D67!important;
}

.thumb {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    background-color:#5C5D67;
}

.w3-white {
	background-color: #f1e9db !important;
}