body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}


.aicon{ color :#ffffff;}
.anchor {text-decoration: none;}
.fontfamily {font-family:"Montserrat", sans-serif!important;}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

.white {
	color: #f1f1f1!important;
}



.thumbcontainer {
  	overflow: hidden;
  	
}

div.thumbcontainer > img {
    transition: transform .3s;
}
  	
div.thumbcontainer:hover > img {
      transform: scale(1.1);
}


  
  .headcontainer {
    position: relative;
    height:600px;
}

.topleft {
    position: absolute;
    top: 70px;
    left: 16px;
    font-size: 30px;
    color:#ffffff;
}

.margin-200 {
	margin-top: 200px;
}

.padding-24{
	padding-top:24px!important;
}

.progress {
	height:28px;
}

.togglecss {
	text-align: center;
	margin: 0 auto;
	padding: 2rem;
}

.active {
	color: red;
}	