body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

.w3-black, .w3-hover-black:hover {

	background-color: #073b4c!important;
	color:#f1f1f1!important;
}

.aicon{color :#ffffff;}
.anchor {text-decoration: none;}
.fontfamily {font-family:"Montserrat", sans-serif!important;}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #ffffff; color:#073b4c;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

.white {
	color: #f1f1f1!important;
}

.thumb {
    border: 1px solid #073b4c;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

.thumbcontainer {
  	overflow: hidden;
  	
}

div.thumbcontainer > img {
    transition: transform .3s;
}
  	
div.thumbcontainer:hover > img {
      transform: scale(1.1);
}

.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
	background-color: #ffd166 !important;
}
   
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #2E4052!important;
    background-color: #ffffff!important;
}
.w3-button:hover {
    color: #ffffff!important;
    background-color: #073b4c!important;
}
  
  .headcontainer {
    position: relative;
}

.topleft {
    position: absolute;
    top: 70px;
    left: 16px;
    font-size: 30px;
    color:#ffffff;
}
