body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.anchor {text-decoration: none}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

.white {
	color: #f1f1f1!important;
}

.thumb {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

.thumbcontainer {
  	overflow: hidden;
  	
}

div > img {
    transition: transform .3s;
}
  	
div:hover > img {
      transform: scale(1.1);
}
   
  