.w3-black, .w3-hover-black:hover {

	background-color: #ef476f!important;
	color:#f1f1f1!important;
}

.w3-sidebar-color {background: #ffffff; color:#ef476f;}

.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
	background-color: #118ab2 !important;
}
   
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #2E4052!important;
    background-color: #ffffff!important;
}
.w3-button:hover {
    color: #ffffff!important;
    background-color: #ef476f!important;
}

.thumb {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}